<% provide(:title, "Home") %>
<div class="center jumbotron">
  <p>Allows for entering company transactions and printing checks.</p>
  <%= link_to "Add Transaction", transactions_path, class: "btn btn-lg btn-primary" %>
</div>
